

.overlay_default{
	background-color: #666666;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}



.default_caption{
	width:100%;
	color:blue;
	font-size:10px;
	overflow:hidden;
}

.default_topBar {
  width: 100%;
  cursor:move;
}

.default_nw {
	width: 9px;
	height: 23px;
	background: transparent url(default/top_left.gif) no-repeat 0 0;		
}

.default_n {
	background: transparent url(default/top_mid.gif) repeat-x 0 0;	
	height: 23px;
}

.default_ne {
	width: 9px;
	height: 23px;
	background: transparent url(default/top_right.gif) no-repeat top right;		
}

.default_e {
	width: 10px;
	background: transparent url(default/center_right.gif) repeat-y top right;	
}

.default_w {
	width: 2px;
	background: transparent url(default/center_left.gif) repeat-y 0 0;		
}
.default_sw {
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_left.gif) no-repeat 0 0;			
}

.default_s {
	background: transparent url(default/bottom_mid.gif) repeat-x 0 0;		
	height: 19px;
}

.default_se {
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_right.gif) no-repeat  top right;			
}

.default_sizer {
	width: 9px;
	height: 19px;
	background: transparent url(default/sizer.gif) no-repeat 0 0;	
	cursor:se-resize;	
}

.default_close {
	width: 14px;
	height: 14px;
	margin-left:4px;
	background: transparent url(default/close.gif) no-repeat 0 0;			
	cursor:pointer;
}

.default_minimize {
	width: 14px;
	height: 15px;
	margin-left:4px;
	background: transparent url(default/minimize.gif) no-repeat 0 0;			
	cursor:pointer;
}

.default_maximize {
	width: 14px;
	height: 15px;
	margin-left:4px;	
	background: transparent url(default/maximize.gif) no-repeat 0 0;			
	cursor:pointer;
}

.default_title {
	float:left;
	height:14px;
	font-size:12px;
	text-align:center;
	width:100%;
	color:#000;
}

.default_content {
	overflow:auto;
	color: red;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	background-color:#123;
}

.top_draggable, .bottom_draggable {
  cursor:move;
}

.status_bar {
  font-size:12px;
}
.status_bar input{
  font-size:12px;
}
/* DO NOT CHANGE THESE VALUES*/
.dialog {
	display: block;
	position: absolute;
}

.dialog table.table_window  { 
  border-collapse: collapse; 
  border-spacing: 0; 
  width: 100%;
	margin: 0px;
	padding:0px;
}

.dialog table.table_window td , .dialog table.table_window th { 
  padding: 0; 
}

.dialog .title_window {
  -moz-user-select:none;
}


.default_topBar_icon {
    background:#FFFFFF;
    padding: 5px;
    border: 1px dashed;
}

.default_topBar_restore {
	width: 23px;
	height: 23px;
	background: transparent url(default/maximize.gif) no-repeat 0 0;			
	cursor:pointer;
}
