.gwm-windows-off-FrameCaption {
	width: 100%;
	color: white;
	font-size: x-small;
	font-weight: bold;
	font-family: sans-serif;
}
.gwm-windows-off-Frame-TopBar {
	width: 100%;
	cursor: move;
	background: transparent url(windows-off/top-middle.gif) repeat-x 0 0;
	height: 25px;
}

.gwm-windows-off-DialogOverlay{
	background-color: #666666;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.gwm-windows-off-ActionOverlay{
/*	width: 500px;
	height: 500px;*/
	background-color: #85BBEF;
	filter: alpha(opacity =   60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.gwm-windows-off-Frame-OutlineDrag{
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 	0.6;
	opacity: 0.6;
}
.gwm-windows-off-FrameContent {
	overflow: auto;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
	background: buttonface;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}
/********************************** MINIMIZED TOPBAR ****************************************/
.gwm-windows-off-DeskTop-MinimizedFrameBar{
	float:left;
}
.gwm-windows-off-Frame-TopBar-minimized {
	/*background: #C7CBD1;*/
	background: transparent url(windows-off/top-middle.gif) repeat-x 0 0;
	height: 25px;
	padding: 5px;
	border: 1px dashed;
	color: white;
	font-size: smaller;
	font-weight: bold;
}
.gwm-windows-off-Frame-TopBar-RestoreButton{
	width: 23px;
	height: 23px;
	background: transparent url(windows-off/button-max-focus.gif) no-repeat 0 0;
	cursor: pointer;
}

/***********************************  BORDERS  **********************************************/
.gwm-windows-off-FrameBorder-tl {
	background: transparent url(windows-off/left-top.gif) no-repeat 0 0;
	width: 7px;
	height: 25px;
}
.gwm-windows-off-FrameBorder-t {
	background: transparent url(windows-off/top-middle.gif) repeat-x 0 0;
	height: 25px;
}
.gwm-windows-off-FrameBorder-tr {
	background: transparent url(windows-off/right-top.gif) no-repeat top right;
	width: 7px;
	height: 25px;
}
.gwm-windows-off-FrameBorder-l {
	background: transparent url(windows-off/frame-left.gif) repeat-y top left;
	width: 7px;
}
.gwm-windows-off-FrameBorder-r {
	background: transparent url(windows-off/frame-right.gif) repeat-y top right;
	background-color: red;
	width: 7px;
}
.gwm-windows-off-FrameBorder-bl {
	background: transparent url(windows-off/bottom-left-c.gif) no-repeat 0 0;
	width: 7px;
	height: 7px;
}

.gwm-windows-off-FrameBorder-b{
	background: transparent url(windows-off/bottom-middle.gif) repeat-x 0 0;
	height: 7px;
}

.gwm-windows-off-FrameBorder-br,.gwm-windows-off-Frame-ResizeButton {
	background: transparent url(windows-off/bottom-right-c.gif) no-repeat top right;
	width: 7px;
	height: 7px;
}
/************************************* BUTTONS ********************************/
.gwm-windows-off-Frame-ResizeButton {
	cursor: se-resize;
}
.gwm-windows-off-Frame-TopBar-CloseButton{
	width: 23px;
	height: 23px;
	background: transparent url(windows-off/button-close-focus.gif) no-repeat 0	0;
	cursor: pointer;
}
.gwm-windows-off-Frame-TopBar-CloseButton-active{
	width: 23px;
	height: 23px;
	background: transparent url(windows-off/button-close-focused.gif) no-repeat 0	0;
	cursor: pointer;
}
.gwm-windows-off-Frame-TopBar-MinimizeButton  {
	width: 23px;
	height: 23px;
	background: transparent url(windows-off/button-min-focus.gif) no-repeat 0 0;
	cursor: pointer;
}

.gwm-windows-off-Frame-TopBar-MinimizeButton-active  {
	width: 23px;
	height: 23px;
	background: transparent url(windows-off/button-min-focused.gif) no-repeat 0 0;
	cursor: pointer;
}
.gwm-windows-off-Frame-TopBar-MaximizeButton {
	width: 23px;
	height: 23px;
	background: transparent url(windows-off/button-max-focus.gif) no-repeat 0 0;
	z-index: 1000;
}
.gwm-windows-off-Frame-TopBar-MaximizeButton-active {
	width: 23px;
	height: 23px;
	background: transparent url(windows-off/button-max-focused.gif) no-repeat 0 0;
	z-index: 1000;
}